* {
  font-family: Figtree;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Figtree;
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.frame-root {
  width: 100%;
}

.ext-nav {
  position: fixed;
  height: 100%;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 41px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -5px 2px 34px 0 rgba(0, 0, 0, 0.12);
  box-shadow: -5px 2px 34px 0 rgba(0, 0, 0, 0.12);
}

.ext-nav .ext-nav-menu {
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.ext-nav .ext-nav-menu::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


.ext-nav-menu .ext-nav-item {
  height: auto;
  writing-mode: vertical-lr;
  background: #fff;
  width: 41px;
  padding: 20px 10px;
  border-bottom: 2px solid #eef0f3;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.ext-nav-menu .ext-nav-item.active {
  border-left: 2px solid #f16334;
}

.ext-nav-menu .ext-nav-item:last-child {
  border-bottom: none;
}

.ext-body {
  background-color: #f4f6f8;
  -webkit-box-shadow: -5px 2px 34px 0 rgba(0, 0, 0, 0.12);
  box-shadow: -5px 2px 34px 0 rgba(0, 0, 0, 0.12);
  width: 470px;
  position: fixed;
  top: 0px;
  left: 41px;
  overflow-y: auto;
  height: 100vh;
}

.ext-body header {
  padding: 24px;
  padding-bottom: 49px;
  background-color: #f16334;
  color: #ffffff;
}

.ext-body header.loading,
.ext-body header.topKeywords {
  padding-bottom: 24px;
}

.ext-body header .options {
  background-color: transparent;
  padding: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.ext-body header .options>div {
  width: 4px;
  height: 4px;
  display: inline-block;
  background-color: #ffffff;
}

.ext-body header .options>div:not(:last-of-type) {
  margin-right: 2px;
}

.ext-body header .header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ext-body header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ext-body header .title h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  color: #fff !important;
  background: transparent !important;
}

.ext-body header .title h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  border-left: 1px solid rgba(255, 255, 255, 0.32);
  padding-left: 9px;
  margin-left: 20px;
  color: #fff !important;
  background: transparent !important;
}

.ext-body header .header-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ext-body header.topKeywords .header-bottom-row {
  margin-bottom: 0;
}

.ext-body header.topKeywords .header-bottom-row .domain.pt {
  font-size: 13px;
}

.ext-body header.loading .header-bottom-row {
  margin-bottom: 10px;
}

.ext-body header .header-bottom-row .domain {
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}

.ext-body header .header-bottom-row .more-insights {
  font-size: 12px;
  font-weight: 600;
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  min-width: 100px;
}

.ext-body header .header-bottom-row .more-insights:hover,
.ext-body header .header-bottom-row .more-insights:visited,
.ext-body header .header-bottom-row .more-insights:active {
  text-decoration: none;
  color: #ffffff;
}


.ext-body .data-card .title.orange {
  color: #f16334 !important;
  background: transparent !important;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  font-family: Figtree;
}

.ext-body .data-card .header {
  background: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f4f6f8;
  padding-bottom: 8px;
}

.ext-body .data-card .header .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  padding-left: 8px;
  border-left: 1px solid #eef0f3;
}

.ext-body .data-card .header .data .number {
  margin: 0;
  color: #202020;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.ext-body .data-card .header .data .type {
  margin: 0;
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 4px;
}

.ext-body .data-card .chart-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

.ext-body .data-card .overtime .chart-data {
  padding: 10px;
}

.ext-body .data-card .chart-data .period {
  color: #202020;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin: 0;
}

.ext-body .data-card .chart-data .legends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ext-body .data-card .chart-data .legends.vertical {
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.ext-body .data-card .chart-data .legends .legend {
  color: #202020;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ext-body .data-card .chart-data .legends .legend:not(:last-of-type) {
  margin-right: 24px;
}

.ext-body .data-card .chart-data .legends .legend .colors {
  height: 14px;
  width: 14px;
  margin-right: 4px;
}

.ext-body .data-card .chart-data .legends .legend .colors .color {
  height: 7px;
  width: 14px;
}

.ext-body .data-card .chart-data .legends .legend>.color {
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.ext-body .data-card .chart-data .legends .legend .color.green {
  background-color: #3de59f;
}

.ext-body .data-card .chart-data .legends .legend .color.yellow {
  background-color: #f8e354;
}

.ext-body .data-card .chart-data .legends .legend .color.orange {
  background-color: #f16334;
}

.ext-body .data-card .chart-data .legends .legend .color.red {
  background-color: #ff7a7b;
}

.ext-body .data-card .chart-data .legends .legend .color.red2 {
  background-color: #fe8485;
}

.ext-body .data-card .chart-data .legends .legend .color.orange2 {
  background-color: #ff975d;
}

.ext-body .data-card .chart-data .legends .legend .color.red3 {
  background-color: #ffb7b8;
}

.ext-body .data-card .chart-data .legends .legend .color.orange3 {
  background-color: #ffc092;
}

.ext-body .seo-ranking .chart-data {
  padding-bottom: 0;
}

.ext-body .bottom-spacer {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.top-page-by-country,
.top-keyword-by-country,
div.backlinks,
div.topKeywords {
  background-color: #ffffff;
  padding: 24px;
}

.top-page-by-country .block-head,
.top-keyword-by-country .block-head,
.backlinks .block-head,
.topKeywords .block-head,
.backlinks .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 9px;
}

.backlinks .block-head {
  border-bottom: 1px solid #f4f6f8;
  padding-bottom: 8px;
}

.topKeywords .block-head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.topKeywords .block-head .prefered-location {
  height: 14px;
  width: fit-content;
  min-width: fit-content;
  color: #6b6b6b;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 20px;
}

.topKeywords .block-head .location-selector {
  width: 240px;
  flex: 0;
}

.topKeywords .block-head .location-selector .country-selector {
  border: 1px solid #d0d1d3;
  border-radius: 3px;
}

.topKeywords .block-head .location-selector .country-name {
  font-size: 12px;
}

.backlinks .filter {
  margin-top: 18px;
  justify-content: space-between;
}

.filter-button-group {
  display: flex;
}

.filter-button-group .filter-button {
  font-size: 10px;
  color: #9b9b9b;
  padding: 10px;
  border-top: 1px solid #e4e8ec;
  border-bottom: 1px solid #e4e8ec;
  border-right: 1px solid #e4e8ec;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.filter-button-group.fr .filter-button {
  font-size: 9px;
}

.filter-button-group .filter-button:first-child {
  border-left: 1px solid #e4e8ec;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.filter-button-group .filter-button.active:first-child {
  border-left: 1px solid #f16334;
}

.filter-button-group .filter-button.active {
  color: #ffffff;
  background: #f16334;
  border-top: 1px solid #f16334;
  border-bottom: 1px solid #f16334;
  border-right: 1px solid #f16334;
}

.filter-button-group .filter-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.top-page-by-country .block-head .left,
.top-keyword-by-country .block-head .left,
.backlinks .block-head .left {
  font-size: 16px;
  font-weight: bold;
}

.top-page-by-country .block-head .right,
.top-keyword-by-country .block-head .right,
.backlinks .block-head .right {
  margin-left: auto;
  font-family: Arial;
  line-height: 14px;
}

.backlinks .block-head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.backlinks .block-head .title.orange {
  color: #f16334 !important;
  background: transparent !important;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  font-family: Figtree;
}

.backlinks .block-head .left .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  padding-left: 8px;
  border-left: 1px solid #eef0f3;
}

.backlinks .block-head .left .data .number {
  margin: 0;
  color: #202020;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.backlinks .block-head .left .data .search {
  height: 25px;
  border: none;
  background: url(chrome-extension://nmpgaoofmjlimabncmnmnopjabbflegf/img/search.svg) no-repeat 0px 5px;
  padding: 0 10px 0 25px;
  outline: none;
}

.backlinks .block-head .left .data .search.pt {
  max-width: 150px;
}

.top-page-by-country .block-head .right a,
.top-keyword-by-country .block-head .right a,
.backlinks .block-head .right a {
  color: #f16334;
  font-size: 12px;
  text-decoration: none;
}

.top-page-by-country .block-head .right a:visited,
.top-page-by-country .block-head .right a:active,
.top-keyword-by-country .block-head .right a:visited,
.top-keyword-by-country .block-head .right a:active,
.backlinks .block-head .right a:visited,
.backlinks .block-head .right a:active {
  color: #f16334;
}

a.outlined-button {
  padding: 9px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  max-width: fit-content;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

a.outlined-button.orange {
  border: 1px solid #f16334;
  color: #f16334;
}

a.outlined-button.solid {
  background: #f16334;
  color: #fff;
  border-radius: 0;
}

a.outlined-button.fr {
  font-size: 9px;
  padding: 10px;
}

.country-list .country {
  width: 100%;
  margin-top: 7px;
}

.country-list .country .title {
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15.5px;
  border: 2px solid #eef0f3;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  height: 39px;
}

.country-list .country .title .country-name {
  margin-left: 10px;
  color: #6b6b6b;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

.country-list .country .title .verticle-line {
  margin: 0 10px;
  color: #eef0f3;
}

.country-list .country .title .other-detail {
  color: #202020;
  font-size: 12px;
  margin: 0;
}

.country-list .country .title .arrow {
  display: block;
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 15.5px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.country-list .country .pages-table,
.backlinks-table,
.topKeywords-table {
  display: none;
  overflow: hidden;
  /* Track */
  /* Handle */
}

.country-list .country .pages-table::-webkit-scrollbar,
.backlinks-table::-webkit-scrollbar,
.topKeywords-table::-webkit-scrollbar,
.seo-issues-table::-webkit-scrollbar {
  width: 2px;
}

.country-list .country .pages-table::-webkit-scrollbar-track,
.backlinks-table::-webkit-scrollbar-track,
.topKeywords-table::-webkit-scrollbar-track,
.seo-issues-table::-webkit-scrollbar-track {
  background: #d0d1d3;
}

.country-list .country .pages-table::-webkit-scrollbar-thumb,
.backlinks-table::-webkit-scrollbar-thumb,
.topKeywords-table::-webkit-scrollbar-thumb,
.seo-issues-table::-webkit-scrollbar-thumb {
  background: #f16334;
}

.country-list .country .pages-table table,
.backlinks-table table,
.topKeywords-table table,
.seo-issues-table table {
  width: 100%;
}

.country-list .country .pages-table table .table-title,
.backlinks-table .table-title,
.topKeywords-table .table-title,
.seo-issues-table .table-title {
  background-color: #f4f6f8;
  height: 34px;
}

.country-list .country .pages-table table .table-title td,
.backlinks-table .table-title td,
.topKeywords-table .table-title td,
.seo-issues-table .table-title td {
  color: #6b6b6b;
  font-size: 10px;
  line-height: 11px;
  border-radius: 0;
  vertical-align: middle;
}

.topKeywords-table .table-title td,
.seo-issues-table .table-title td {
  border-radius: 2px;
  border-top: 2px solid #eef0f3;
}

.topKeywords-table .table-title td:first-child,
.seo-issues-table .table-title td:first-child {
  border-radius: 5px 0 0 0;
}

.topKeywords-table .table-title td:last-child,
.seo-issues-table .table-title td:last-child {
  border-radius: 0 5px 0 0;
}

.backlinks-table tr td,
.topKeywords-table tr td,
.seo-issues-table tr td {
  position: relative;
}

.backlinks-table tr td .seen-section .popup {
  background: #000;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  padding: 8px;
  right: 0px;
  top: -35px;
  /* display: none; */
  font-size: 11px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  width: fit-content;
}

.backlinks-table tr td .seen-section .popup div {
  display: flex;
}

.backlinks-table tr td .seen-section .popup div * {
  white-space: nowrap;
  line-height: 12px;
}

.backlinks-table tr td .seen-section .popup div:first-child {
  padding-bottom: 4px;
}

.backlinks-table tr td .seen-section:hover .popup {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.backlinks-table tr td .seen-section .popup:after {
  content: '';
  position: absolute;
  right: 25%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  clear: both;
}

.country-list .country .pages-table table tr .seo-title,
.country-list .country .pages-table table tr .seo-keywords {
  width: 44%;
}

.country-list .country .pages-table table tr .est-visits {
  width: 15%;
}

.country-list .country .pages-table table tr .backlinks {
  width: 15%;
}

.country-list .country .pages-table table tr .facebook-icon {
  width: 13%;
}

.country-list .country .pages-table table tr .pinterest-icon {
  width: 13%;
}

.country-list .country .pages-table table tr .volume {
  width: 24%;
}

.country-list .country .pages-table table tr .position {
  width: 14%;
}

.backlinks-table table tr .source-page-title {
  width: 40%;
  white-space: pre-wrap;
  position: relative;
}

.backlinks-table table tr .domain-score {
  width: 20%;
  white-space: pre-wrap;
  position: relative;
}

.backlinks-table table tr .page-score {
  width: 20%;
  white-space: pre-wrap;
  position: relative;
}

.backlinks-table table tr .seen {
  width: 20%;
  position: relative;
}

.backlinks-table table tr td .tooltip {
  position: absolute;
  top: 35%;
  right: 5px;
}

.topKeywords-table table tr td .tooltip {
  position: absolute;
  top: 27%;
}

.topKeywords-table table tr .keywords {
  width: 28%;
  white-space: pre-wrap;
  position: relative;
}

.topKeywords-table table tr .volume {
  width: 15%;
  white-space: pre-wrap;
  position: relative;
}

.topKeywords-table table tr .position {
  width: 18%;
  white-space: pre-wrap;
  position: relative;
}

.topKeywords-table table tr .est-visits {
  width: 22%;
  position: relative;
}

.topKeywords-table table tr .sd {
  width: 18%;
  position: relative;
}

.seo-issues-table table tr .seo-issues {
  width: 60%;
  white-space: pre-wrap;
  position: relative;
}

.seo-issues-table table tr .difficulty,
.seo-issues-table table tr .seo-impact {
  width: 20%;
  white-space: pre-wrap;
  position: relative;
  text-align: center;
}

.backlinks-table table tr.table-title td:not(:first-child),
.topKeywords-table table tr.table-title td:not(:first-child) {
  text-align: center;
}

.country-list .country .pages-table table tr:not(:last-child) td,
.backlinks-table table tr:not(:last-child) td,
.topKeywords-table table tr:not(:last-child) td,
.seo-issues-table table tr:not(:last-child) td {
  border-bottom: 1px solid #eef0f3;
}

.backlinks-table table tr td:not(:first-child),
.topKeywords-table table tr td:not(:first-child) {
  text-align: center;
}

.country-list .country .pages-table table tr td:first-child,
.backlinks-table table tr td:first-child,
.topKeywords-table table tr td:first-child,
.seo-issues-table table tr td:first-child {
  border-left: 2px solid #eef0f3;
}

.country-list .country .pages-table table tr td:last-child,
.backlinks-table table tr td:last-child,
.topKeywords-table table tr td:last-child,
.seo-issues-table table tr td:last-child {
  border-right: 2px solid #eef0f3;
}

.country-list .country .pages-table table tr:last-child td,
.backlinks-table table tr:last-child td,
.topKeywords-table table tr:last-child td,
.seo-issues-table table tr:last-child td {
  border-bottom: 2px solid #eef0f3;
}

.country-list .country .pages-table table tr:last-child td:first-child,
.backlinks-table table tr:last-child td:first-child,
.topKeywords-table table tr:last-child td:first-child,
.seo-issues-table table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.country-list .country .pages-table table tr:last-child td:last-child,
.backlinks-table table tr:last-child td:last-child,
.topKeywords-table table tr:last-child td:last-child,
.seo-issues-table table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.country-list .country .pages-table table tr td:first-child,
.backlinks-table table tr td:first-child,
.topKeywords-table table tr td:first-child,
.seo-issues-table table tr td:first-child {
  padding-left: 15.5px;
}

.topKeywords-table table tr td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-list .country .pages-table table tr td:last-child,
.backlinks-table table tr td:last-child,
.topKeywords-table table tr td:last-child,
.seo-issues-table table tr td:last-child {
  padding-right: 15.5px;
}

.country-list .country .pages-table table tr td,
.backlinks-table table tr td,
.topKeywords-table table tr td,
.seo-issues-table table tr td {
  padding: 11.5px 0;
  vertical-align: middle;
}

.country-list .country .pages-table table tr td .main-text {
  color: #202020;
  font-size: 10px;
  line-height: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 148px;
  margin: 0;
}

.country-list .country .pages-table table tr td .sub-text {
  color: #6b6b6b;
  font-size: 10px;
  line-height: 11px;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 148px;
  margin-top: 0;
  margin-bottom: 0;
}

.backlinks-table table tr td .main-text {
  color: #f16334;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 148px;
  margin: 0;
  display: flex;
}

.backlinks-table table tr td .main-text a {
  color: #f16334;
  font-size: 10px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 125px;
  margin: 0;
  text-decoration: none;
}

.backlinks-table table tr td .main-text .no-follow {
  color: #f16334;
  border: 2px solid #f16334;
  padding: 1px 2px;
  font-size: 9px;
}

.backlinks-table table tr td .sub-text {
  color: #6b6b6b;
  font-size: 10px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 148px;
  margin: 0;
  display: flex;
  align-items: center;
}

.backlinks-table table tr td .sub-text a {
  color: #6b6b6b;
  font-size: 10px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  margin: 0;
  text-decoration: none;
}

.seo-issues-table table tr td .issue {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.country-list .country .pages-table table tr td .value,
.backlinks-table table tr td .value,
.topKeywords-table table tr td .value,
.seo-issues-table table tr td .value {
  color: #202020;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}

.topKeywords-table table tr td .value {
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
}

.seo-issues-table table tr td .value {
  text-align: center;
}

.country-list .country .pages-table table tr td .viewall {
  color: #f16334;
  font-size: 10px;
  line-height: 11px;
  text-decoration: none;
  display: inline-block;
  white-space: pre-wrap;
}

.country-list .country .pages-table table tr td .viewall:hover,
.country-list .country .pages-table table tr td .viewall:active,
.country-list .country .pages-table table tr td .viewall:visited {
  color: #f16334;
  text-decoration: none;
}

.country-list .country.active .title .arrow {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.country-list .country.active .pages-table,
.backlinks-table,
.topKeywords-table {
  display: block;
}

.tippy-box {
  border-radius: 3px;
}

.tippy-content {
  font-size: 13px;
  padding: 8px 21px;
}

.overlay {
  height: 100%;
  width: 100%;
  padding: 128px 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(32, 32, 32, 0.5);
  z-index: 10;
}

.overlay .overlay-content {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
}

.overlay .overlay-content h6 {
  color: #202020;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}

.overlay .overlay-content p {
  color: #6b6b6b;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.overlay .overlay-content .btn-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.overlay .overlay-content .btn-block .primary-btn {
  margin-bottom: 16px;
}

.primary-btn {
  text-decoration: none;
  background-color: #f16334;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 11.5px;
}

.outlined-btn {
  border: 1px solid #6b6b6b;
  text-decoration: none;
  background-color: #ffffff;
  color: #6b6b6b;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 11.5px;
}

.close-btn {
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: inline-block;
}

.close-btn::before {
  font-size: 14px;
  font-weight: 600;
  content: '\2715';
  color: #6b6b6b;
}

.close-btn:hover::before {
  color: #202020;
}

.no-data-wrapper {
  background: #fff;
  padding: 0 25px 100px 25px;
}

.no-data-wrapper .content {
  height: 100%;
  width: auto;
  max-width: 460px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
}

.no-data-wrapper .text {
  color: #25292d;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.3em;
  white-space: pre-wrap;
  word-break: break-word;
}

.no-data-wrapper .text b {
  color: #f16334;
  font-weight: 700;
}

.no-data-wrapper .text.bold-color-black b {
  color: #202020;
  font-weight: 700;
}

.no-data-wrapper .content ul {
  padding: 0;
  width: 100%;
  margin: 0 0 20px 0;
  list-style: disc;
}

.no-data-wrapper .content li {
  margin: 16px 0 16px 14px;
  font-size: 16px;
  font-weight: 100;
  color: #25292d;
}

.no-data-wrapper .content .btn {
  background-color: #f16334;
  border: 1px solid white;
  font-size: 12px;
  color: white !important;
  height: 40px;
  padding: 10px 48px;
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 18px;
}

.no-data-wrapper .content .btn:hover,
.no-data-wrapper .content .btn:visited {
  color: white;
  text-decoration: none;
}

.topKeywords .action-buttons {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.topKeywords .action-buttons .outlined-button.orange {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.topKeywords .action-buttons .outlined-button.solid {
  max-width: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.topKeywords .action-buttons .outlined-button.solid:first-child {
  margin-right: 20px;
}

.sidebar-dailylimit-bar .sidebar-dailylimit-text {
  font-size: 14px;
  line-height: 14;
  color: #a3b0b3;
}

.sidebar-dailylimit-bar .sidebar-dailylimit-text-blocked {
  font-size: 14px;
  line-height: 14;
  color: #f16334;
}

.sidebar-dailylimit-bar .sidebar-dailylimit-text b {
  color: #202020;
  font-weight: normal;
}

.help-bubble {
  position: fixed;
  width: fit-content;
  height: 48px;
  right: 50px;
  bottom: 24px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Primary/Orange */

  background: #f16434;
  /* Secondary Tints/Light Gray (70%) */

  border: 1px solid #dfe3e4;
  /* Shadows/Shadow A */

  box-shadow: 0px 10px 32px rgba(32, 32, 32, 0.08);
  border-radius: 24px;

  color: #fff;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.help-bubble img {
  margin-right: 8px;
}

/* rating css */

.rr--group {
  display: flex;
  width: 100%;
  position: relative
}

.rr--box {
  display: flex;
  width: 100%;
  flex-grow: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.rr--svg {
  display: flex;
  aspect-ratio: 1;
  width: 100%;
  flex-grow: 1;
  overflow: clip;
  pointer-events: none
}

@supports not (overflow: clip) {
  .rr--svg {
    overflow: auto
  }
}

.rr--box:focus,
.rr--box:focus-visible,
.rr-reset:focus-visible,
.rr-reset:focus {
  outline: none;
  box-shadow: none
}

.rr--focus-reset {
  outline: 6px double #0079ff
}

.rr--box:focus-visible .rr--svg {
  outline: 6px double #0079ff;
  isolation: isolate
}

.rr--reset {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  right: 0;
  bottom: 50%
}

[dir=rtl] .rr--reset {
  left: 0;
  right: auto
}

.rr--dir-y .rr--reset {
  bottom: 0;
  right: 50%
}

.rr--disabled {
  opacity: .5;
  cursor: not-allowed
}

.rr--disabled .rr--svg {
  pointer-events: none
}

.rr--pointer .rr--box {
  cursor: pointer
}

.rr--dir-x {
  flex-direction: row
}

.rr--dir-y {
  flex-direction: column
}

.rr--space-sm .rr--svg {
  padding: 8%
}

.rr--space-md .rr--svg {
  padding: 12.5%
}

.rr--space-lg .rr--svg {
  padding: 17.5%
}

.rr--dir-x.rr--gap-sm .rr--svg {
  margin: 0 6.25%
}

.rr--dir-x.rr--gap-sm .rr--box:focus-visible:after {
  width: 87.5%;
  left: 6.25%
}

.rr--dir-x.rr--gap-md .rr--svg {
  margin: 0 12.5%
}

.rr--dir-x.rr--gap-md .rr--box:focus-visible:after {
  width: 75%;
  left: 12.5%
}

.rr--dir-x.rr--gap-lg .rr--svg {
  margin: 0 25%
}

.rr--dir-x.rr--gap-lg .rr--box:focus-visible:after {
  width: 50%;
  left: 25%
}

.rr--dir-y.rr--gap-sm .rr--svg {
  margin: 6.25% 0
}

.rr--dir-y.rr--gap-md .rr--svg {
  margin: 12.5% 0
}

.rr--dir-y.rr--gap-lg .rr--svg {
  margin: 25% 0
}

.rr--rx-sm .rr--svg {
  border-radius: 5%
}

.rr--rx-md .rr--svg {
  border-radius: 15%
}

.rr--rx-lg .rr--svg {
  border-radius: 20%
}

.rr--rx-full .rr--svg {
  border-radius: 100%
}

.rr--has-stroke .rr--svg {
  stroke-linecap: round;
  stroke-linejoin: round
}

.rr--has-border .rr--svg {
  border-width: var(--rr--border-width);
  border-style: solid
}

.rr--on .rr--svg {
  fill: var(--rr--fill-on-color, none)
}

.rr--off .rr--svg {
  fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--on .rr--svg {
  stroke: var(--rr--stroke-on-color, currentColor)
}

.rr--has-stroke .rr--off .rr--svg {
  stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--on .rr--svg {
  background-color: var(--rr--box-on-color, none)
}

.rr--off .rr--svg {
  background-color: var(--rr--box-off-color, none)
}

.rr--has-border .rr--off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor)
}

.rr--has-border .rr--on .rr--svg {
  border-color: var(--rr--border-on-color, currentColor)
}

.rr--fx-colors {
  --rr--easing: .2s cubic-bezier(.61, 1, .88, 1)
}

.rr--fx-colors .rr--svg {
  transition-duration: .2s;
  transition-timing-function: var(--rr--easing);
  transition-property: background-color, border-color, fill, stroke
}

.rr--fx-opacity .rr--off {
  opacity: .35;
  transition: opacity var(--rr--easing)
}

.rr--fx-opacity .rr--on {
  opacity: 1
}

@media (hover: hover) {
  .rr--fx-opacity .rr--box:hover {
    opacity: 1
  }
}

@media (hover: hover) {
  .rr--fx-zoom .rr--box {
    transition: transform var(--rr--easing);
    transform: scale(1)
  }

  .rr--fx-zoom .rr--box:hover {
    transform: scale(1.2)
  }

  @media (prefers-reduced-motion) {
    .rr--fx-zoom .rr--box:hover {
      transform: scale(1)
    }
  }
}

@media (hover: hover) {
  .rr--fx-position .rr--box {
    transition: transform var(--rr--easing);
    transform: translateY(0)
  }

  .rr--fx-position .rr--box:hover {
    transform: translateY(-15%)
  }

  @media (prefers-reduced-motion) {
    .rr--fx-position .rr--box:hover {
      transform: translateY(0)
    }
  }
}

.rr--svg-stop-1 {
  stop-color: var(--rr--fill-on-color, rgba(0, 0, 0, 0))
}

[dir=rtl] .rr--svg-stop-1,
.rr--svg-stop-2 {
  stop-color: var(--rr--fill-off-color, rgba(0, 0, 0, 0))
}

[dir=rtl] .rr--svg-stop-2 {
  stop-color: var(--rr--fill-on-color, rgba(0, 0, 0, 0))
}

.rr--hf-svg-on {
  fill: var(--rr--fill-on-color, none)
}

.rr--hf-svg-off {
  fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--hf-svg-on {
  stroke: var(--rr--stroke-on-color, currentColor)
}

.rr--has-stroke .rr--hf-svg-off {
  stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--hf-svg-on .rr--svg,
.rr--hf-svg-off .rr--svg {
  background-color: var(--rr--box-off-color, none)
}

.rr--has-border .rr--hf-svg-on .rr--svg {
  border-color: var(--rr--border-on-color, currentColor)
}

.rr--has-border .rr--hf-svg-off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor)
}

.rr--dir-x .rr--hf-box-int .rr--svg {
  background: linear-gradient(to right, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

[dir=rtl] .rr--dir-x .rr--hf-box-int .rr--svg {
  background: linear-gradient(to left, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

.rr--dir-y .rr--hf-box-int .rr--svg {
  background: linear-gradient(to bottom, var(--rr--box-on-color, none) 50%, var(--rr--box-off-color, none) 50%)
}

.rr--hf-box-on .rr--svg {
  background-color: var(--rr--box-on-color, none)
}

.rr--hf-box-off .rr--svg {
  background-color: var(--rr--box-off-color, none)
}

.rr--hf-box-on .rr--svg,
.rr--hf-box-off .rr--svg,
.rr--hf-box-int .rr--svg {
  fill: var(--rr--fill-off-color, none)
}

.rr--has-stroke .rr--hf-box-on .rr--svg,
.rr--has-stroke .rr--hf-box-off .rr--svg,
.rr--has-stroke .rr--hf-box-int .rr--svg {
  stroke: var(--rr--stroke-off-color, currentColor)
}

.rr--has-border .rr--hf-box-on .rr--svg,
.rr--has-border .rr--hf-box-int .rr--svg {
  border-color: var(--rr--border-on-color, currentColor)
}

.rr--has-border .rr--hf-box-off .rr--svg {
  border-color: var(--rr--border-off-color, currentColor)
}

@keyframes fold {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes unfold {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}